### 16.4
Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [2]:
import sqlite3

conn = sqlite3.connect("books.db")
cursor = conn.cursor()

cursor.execute(
    """
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
"""
)

conn.commit()
conn.close()

print("Database and table created successfully!")

Database and table created successfully!

Add some data

In [3]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

books_data = [
    ("The Catcher in the Rye", "J.D. Salinger", 1951),
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
]

cursor.executemany(
    "INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books_data
)

conn.commit()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

### 16.8
Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [5]:
from sqlalchemy import create_engine, MetaData, Table

engine = create_engine("sqlite:///books.db")
connection = engine.connect()
metadata = MetaData()

books = Table("books", metadata, autoload_with=engine)

query = books.select().order_by(books.c.title)
result = connection.execute(query)

for row in result:
    print(row.title)

connection.close()

1984
The Catcher in the Rye
To Kill a Mockingbird